{# templates/yeti/stats.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Yeti Rating Statistics{% endblock %}

{% block body %}
    <h1>Yeti Rating Statistics</h1>

    <table>
        <thead>
        <tr>
            <th>Year</th>
            <th>Month</th>
            <th>Average Rating</th>
        </tr>
        </thead>
        <tbody>
        {% for stat in stats %}
            <tr>
                <td>{{ stat.year }}</td>
                <td>{{ stat.month }}</td>
                <td>{{ stat.averageRating }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
